//COLORS
$color-accent: #C32929; 
$color-text-primary: #777; 
$color-grey-light: #f4f4f4; 
$color-grey-dark: #333;
$color-black: #000; 

//SHADOW
$shadow-primary: 0 1.5rem 3rem rgba(#000, .2);

//GRID
$grid-width: 114rem; 
$gutter-vertical: 3rem; 
$gutter-horizontal: 5rem; 