.portfolio-section {
    width: 100%; 
    padding: 7vh 0; 
    margin-bottom: 2vh; 
    text-align: center;
    box-shadow: 0 .5rem 1rem rgba(black, .2); 
    border-radius: 3px;
    background-size: cover; 
    transition: all .6s; 
    background-position: center;

    &__heading {
        padding: 2rem;
        border-radius: 5rem;
        display: inline-block;
        background-color: $color-grey-light;
        background-image: linear-gradient(to right, rgba($color-grey-light, .5), rgba($color-grey-light, .5)); 
    }

    &--1 {
        background-image: linear-gradient(
            to right bottom, 
            rgba($color-grey-light, 0.5),
            rgba($color-grey-light, 0.5));
        // url(../../assets/images/lovebirds.jpg); 


        &:hover {
            background-image: url(../../assets/images/lovebirds.jpg);
            transform: translateY(-3px) scale(1.02);
            color: #000;
            box-shadow: 0 .5rem 5rem rgba(black, .2);
        }
    }

    &--2 {
        background-image: linear-gradient(
            to right bottom, 
            rgba($color-grey-light, 0.5),
            rgba($color-grey-light, 0.5));
        // url(../../assets/images/linocut-process.jpg); 


        &:hover {
            background-image: url(../../assets/images/linocut-process.jpg);
            transform: translateY(-3px) scale(1.02);
            color: #000;
            box-shadow: 0 .5rem 5rem rgba(black, .2);
        }
    }

    &--3 {
        background-image: linear-gradient(
            to right bottom, 
            rgba($color-grey-light, 0.5),
            rgba($color-grey-light, 0.5));
        //  url(../../assets/images/lovebirds.jpg.jpg); 

        &:hover {
            background-image: url(../../assets/images/sink.jpg);
            transform: translateY(-3px) scale(1.02);
            color: #000;
            box-shadow: 0 .5rem 5rem rgba(black, .2);
        }
    }
    &--4 {
        background-image: linear-gradient(
            to right bottom, 
            rgba($color-grey-light, 0.5),
            rgba($color-grey-light, 0.5));
            //  url(../../assets/images/ceramic-ears.jpg); 


        &:hover {
            background-image: url(../../assets/images/ceramic-ears.jpg);
            transform: translateY(-3px) scale(1.02);
            color: #000;
            box-shadow: 0 .5rem 5rem rgba(black, .2);
        }
    }
}
