*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  padding: 3rem;
  box-sizing: border-box; }

img {
  width: 100%; }

.navbar__left {
  list-style: none; }

body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777; }

a {
  text-decoration: none;
  color: #777; }

a:hover {
  color: #C32929; }

.feature__img {
  margin-bottom: 1rem;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); }

.portfolio-section {
  width: 100%;
  padding: 7vh 0;
  margin-bottom: 2vh;
  text-align: center;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background-size: cover;
  transition: all .6s;
  background-position: center; }
  .portfolio-section__heading {
    padding: 2rem;
    border-radius: 5rem;
    display: inline-block;
    background-color: #f4f4f4;
    background-image: linear-gradient(to right, rgba(244, 244, 244, 0.5), rgba(244, 244, 244, 0.5)); }
  .portfolio-section--1 {
    background-image: linear-gradient(to right bottom, rgba(244, 244, 244, 0.5), rgba(244, 244, 244, 0.5)); }
    .portfolio-section--1:hover {
      background-image: url(../../assets/images/lovebirds.jpg);
      transform: translateY(-3px) scale(1.02);
      color: #000;
      box-shadow: 0 0.5rem 5rem rgba(0, 0, 0, 0.2); }
  .portfolio-section--2 {
    background-image: linear-gradient(to right bottom, rgba(244, 244, 244, 0.5), rgba(244, 244, 244, 0.5)); }
    .portfolio-section--2:hover {
      background-image: url(../../assets/images/linocut-process.jpg);
      transform: translateY(-3px) scale(1.02);
      color: #000;
      box-shadow: 0 0.5rem 5rem rgba(0, 0, 0, 0.2); }
  .portfolio-section--3 {
    background-image: linear-gradient(to right bottom, rgba(244, 244, 244, 0.5), rgba(244, 244, 244, 0.5)); }
    .portfolio-section--3:hover {
      background-image: url(../../assets/images/sink.jpg);
      transform: translateY(-3px) scale(1.02);
      color: #000;
      box-shadow: 0 0.5rem 5rem rgba(0, 0, 0, 0.2); }
  .portfolio-section--4 {
    background-image: linear-gradient(to right bottom, rgba(244, 244, 244, 0.5), rgba(244, 244, 244, 0.5)); }
    .portfolio-section--4:hover {
      background-image: url(../../assets/images/ceramic-ears.jpg);
      transform: translateY(-3px) scale(1.02);
      color: #000;
      box-shadow: 0 0.5rem 5rem rgba(0, 0, 0, 0.2); }

.textbox {
  padding: 1rem; }
  .textbox__text:not(:last-child) {
    margin-bottom: 1.5rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 3rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 5rem; }
  .row .col-1-of-2 {
    width: calc((100% - 5rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 5rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2*((100% - 2 * 5rem )/ 3) + 5rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 5rem) / 4); }
  .row .col-2-of-4 {
    width: calc(100% - ((2 * (100% - 3 * 5rem )/ 4) + 2 * 5rem)); }
  .row .col-3-of-4 {
    width: calc(100% - (((100% - 3 * 5rem )/ 4) + 5rem)); }
  .row .col-1-of-6 {
    width: calc((100% - 5 * 5rem) / 6); }
  .row .col-5-of-6 {
    width: calc(100% - (((100% - 5 * 5rem )/ 6) + 5rem)); }
